src/main/mule/sapi-store.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd ">
    <apikit:config name="sapi-store-config" api="sapi-store.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="sapi-store-main">
        <http:listener path="/api/*" config-ref="store-api-httpListenerConfig">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="sapi-store-config" />
        <error-handler ref="error-s-Error_Handler" />
    </flow>
    <flow name="put:\customer:sapi-store-config">
        <flow-ref doc:name="calling updatingCustomer-flow" doc:id="4ed63f42-4c93-49bf-a80f-4b52a607ac0a" name="updatingCustomer-flow" />
    </flow>
    <flow name="put:\product:sapi-store-config">
        <flow-ref doc:name="calling updating-Product-flow" doc:id="6920e48d-75eb-4a44-a967-d9617d8691db" name="updating-Product-flow" />
    </flow>
    <flow name="delete:\customer:sapi-store-config">
        <flow-ref doc:name="calling deleteCustomer-flow" doc:id="0e5f9576-b017-4337-a32c-bb6075f5b17e" name="deleteCustomer-flow" />
    </flow>
    <flow name="delete:\product:sapi-store-config">
        <flow-ref doc:name="calling delete-Product-flow" doc:id="f2b078f2-43ee-4a29-bdb1-842c0bbdf6f4" name="delete-Product-flow" />
    </flow>
    <flow name="get:\customer:sapi-store-config">
        <flow-ref doc:name="calling fetchingCustomerData-flow" doc:id="77cfa9fc-7199-450e-a4d5-4a36f329f293" name="fetchingCustomerData-flow" />
    </flow>
    <flow name="get:\product:sapi-store-config">
        <flow-ref doc:name="calling fetching-ProductData-flow" doc:id="737033d6-1afd-4164-94cb-517c899052d0" name="fetching-ProductData-flow" />
    </flow>
    <flow name="get:\transaction:sapi-store-config">
        <flow-ref doc:name="calling fetchTransactionDetails_Flow" doc:id="27266d26-6266-415a-89b7-ea5be2111d25" name="fetchTransactionDetails_Flow" />
    </flow>
    <flow name="post:\customer:application\json:sapi-store-config">
        <flow-ref doc:name="calling insertingCustomerData-flow" doc:id="078ba178-602a-4a63-99c4-894815c26e25" name="insertingCustomerData-flow" />
    </flow>
    <flow name="post:\product:application\json:sapi-store-config">
        <flow-ref doc:name="calling inserting-ProductData-flow" doc:id="30820998-7f2f-4438-93b1-19791821017f" name="inserting-ProductData-flow" />
    </flow>
    <flow name="get:\transactionReport:sapi-store-config">
        <flow-ref doc:name="calling transactionReport_Flow" doc:id="5edcfbcd-c2a3-44ff-923f-20911f00f205" name="transactionReport_Flow" />
    </flow>
</mule>
